%div.avatar
  = image_tag @user.avatar.url(:medium)
%h2
  ="#{@user.first_name} #{@user.last_name}"
%p
  =mail_to @user.email
-if @user.agent.present?
  %p
    %h3
      Represented By
    =link_to @user.agent.full_name,agent_path(@user.agent)
%p
  %h3
    ="#{@user.first_name}'s Background"
  =@user.background
%p
  %h3
    ="About #{@user.first_name}'s Next Best Fit"
  =@user.statement
