%div.avatar
  = image_tag @user.avatar.url(:medium)
%h2
  ="#{@user.first_name} #{@user.last_name}"
%p
  =mail_to @user.email
%p
  %h3
    ="#{@user.first_name}'s Background"
  =@user.background
%p
  %h3
    ="#{@user.first_name}'s Agent Statement"
  =@user.statement

