%div.avatar
  = image_tag @user.avatar.url(:medium)
%h2
  ="#{@user.first_name} #{@user.last_name}"
%p
  =mail_to @user.email
%p
  -if current_user.kind_of? Talent
    =link_to "Request Representation", new_agent_request_path(@user)
%p
  %h3
    ="#{@user.first_name}'s Background"
  =@user.background
%p
  %h3
    ="#{@user.first_name}'s Agent Statement"
  =@user.statement

